body {
    /*background-color: gray;
	/* Use a system font, if none are available use an available sans-sarif   font */
	font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: transparent;
  background-image: url('/images/My Post.png');
  background-size: cover;
}

section.board {
  display: grid;
  grid-template-rows: repeat(3, 10vmin);
  grid-template-columns: repeat(3, 10vmin);
  grid-gap: 0vmin;
  margin: 25px auto;
  align-items: stretch;
  
}

div {
  background: transparent;
  margin: 16px 10px 0px 10px;
  background-position: center;
  background-size: cover;

}

.board {
  background-color: transparent;
  background-image: url('/images/grid.png');
  background-size: cover;
  }

button {
  outline: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  background: darkgray;
  transition: all 0.2s ease-in-out;
  margin: 15px auto;
  border-radius: 25%;
}

button:hover {
  background-color: black;
  color: white;
}
